<div *ngIf="registrationErrors.length">
    <ul class="alert alert-danger">
      <li *ngFor="let error of registrationErrors">{{ error }}</li>
    </ul>
  </div>


  <section class="row">

    <fieldset>
      <legend>Register</legend>

      <form (ngSubmit)="onSubmit(register.value)" #register='ngForm' class='form-group'>
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" name="username" [(ngModel)]="user.username" #username="ngModel" required>
        </div>

        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" name="email" [(ngModel)]="user.email" #email='ngModel' required>
        </div>

        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" [(ngModel)]="user.password" #password='ngModel' required>
        </div>

        <!-- <div class="form-control">
          <label for="password2">Password</label>
          <input type="password" name="password2" #password2='ngModel'>
        </div> -->

        <button *ngIf="register.valid">Register</button>
      </form>
    </fieldset>

  </section>
