<div *ngIf="errors.length">
  <ul class="alert alert-danger">
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>


<section>

  <fieldset>
    <legend>Login User</legend>

    <form (ngSubmit)="onSubmit(login.value)" #login='ngForm' class='form-group'>

      <div class="form-control">
        <label for="username">Email</label>
        <input type="text" name="username" [(ngModel)]="user.username" #username='ngModel' required>
      </div>

      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="user.password" #password='ngModel' required>
      </div>

      <button [disabled]="!login.valid">Login</button>
    </form>
  </fieldset>

</section>
